body{
    background: #00BFFF;
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

div{
    text-align: center;
    padding: 8px;
}

.btnLigar{
    background-color: #00EE00;
    color: white;
    width: 70px;
	padding: 10px;
	border: none;
	cursor: pointer;
}

.btnDesligar{
    background-color: red;
    color: white;
    width: 70px;
	padding: 10px;
	border: none;
	cursor: pointer;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}


